/*start general properties for website*/
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #7e496b;
  color: #fff;
}
*::selection {
  background-color: #7e496b;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #7e496b;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

@-webkit-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes loaderSlideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
@keyframes loaderSlideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
  font-weight: 900;
  padding: 0px 20px 15px 20px;
  color: #6A385C;
}
.heading h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F99F1C;
}

/*end general properties for website*/
.navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999 !important;
  border-bottom: 1px solid #fff;
  transition: all 0.4s linear;
}
.navbar.navbar-fixed-top.scrolled {
  background-color: #6A385C;
  box-shadow: 0px 0px 10px #fff;
  border: none;
  padding: 0px;
}
.navbar.navbar-fixed-top.scrolled img {
  height: 70px;
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .hamburger.active .line:nth-child(1),
.navbar .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.navbar .content .brand-name img {
  width: 240px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .content .navbar-nav {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.navbar .content .navbar-nav li {
  margin: 0px 10px;
}
.navbar .content .navbar-nav li a {
  padding: 10px 0px;
  color: #fff;
  font-weight: 900;
}

header .item {
  width: 100%;
  padding: 300px 0px 100px 0px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  background-position: center center;
  z-index: 99;
}
header .item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}
header .item .content {
  text-align: center;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.4s linear;
}
header .item .content h3 {
  font-weight: 700;
  color: #fff;
  margin: 0px;
}
header .item .content p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  color: #fff;
}
header .item .content .cutom-bnt {
  padding: 10px 30px;
  color: #fff;
  outline: none !important;
  background-color: transparent !important;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 120px auto 0px;
  transition: all 0.5s linear;
}
header .item .content .cutom-bnt:hover {
  transform: translateY(-10px);
}
header .owl-item.active .content {
  transform: translateY(0px);
  opacity: 1;
}
header .owl-carousel .owl-nav button {
  width: 40px !important;
  height: 40px;
  background-color: transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
}
header .owl-carousel .owl-nav button i {
  color: #fff;
  font-size: 20px;
}
header .owl-carousel .owl-nav button.owl-next, header .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
header .owl-carousel .owl-nav button.owl-next {
  left: 0px;
}
header .owl-carousel .owl-nav button.owl-prev {
  right: 0px !important;
}
header .owl-theme .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
header .owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 3px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
}
header .owl-theme .owl-dots .owl-dot.active span, header .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1 !important;
  background-color: #fff !important;
}

.sub-header {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  padding: 300px 0px;
  position: relative;
  z-index: 99;
}
.sub-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}
.sub-header .content {
  width: 100%;
  text-align: center;
}
.sub-header .content h4 {
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  line-height: 2rem;
}

.start-now {
  width: 100%;
  padding: 50px 0px 25px 0px;
  background-color: #6A385C;
}
.start-now .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.start-now .content h4 {
  font-weight: 700;
  color: #fff;
  margin: 0px;
}
.start-now .content .cutom-bnt {
  padding: 10px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  display: block;
  outline: none !important;
  background-color: transparent !important;
  transition: all 0.5s linear;
}
.start-now .content .cutom-bnt:hover {
  transform: translateY(-10px);
}

.services {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;
}
.services .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 173px;
  position: relative;
  z-index: 99;
  transition: all 0.4s linear;
}
.services .box.graph img {
  -o-object-fit: contain;
     object-fit: contain;
}
.services .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.services .box h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 9;
  font-weight: 900;
  margin: 0px;
}
.services .box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.36);
  top: 0;
  left: 0;
  z-index: 0;
}
.services .box:hover {
  transform: translateY(-10px);
}

.about-us {
  width: 100%;
  padding: 50px 0px;
  background-color: #6A385C;
}
.about-us .heading h4 {
  color: #fff !important;
}
.about-us .box {
  width: 100%;
  padding: 20px 10px;
  min-height: 188px;
  position: relative;
  display: block;
  transition: all 0.4s linear;
}
.about-us .box h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 2rem;
  margin-bottom: 20px;
  color: #F99F1C;
}
.about-us .box p {
  color: #fff;
  font-size: 15px;
  line-height: 2rem;
  margin-bottom: 0px;
  font-weight: 500;
}
.about-us .box:hover {
  transform: translateY(-10px);
  background-color: #EFEFFA;
  border-radius: 10px;
}
.about-us .box:hover p {
  color: #000;
}

.specialist {
  width: 100%;
  padding: 50px 0px;
}
.specialist p {
  color: #676767;
  font-size: 20px;
  line-height: 3rem;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.partners {
  width: 100%;
  padding: 50px 0px;
}
.partners .item {
  margin: 0px 10px;
}
.partners img {
  width: 100%;
  height: 148px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #707070;
  border-radius: 5px;
  margin: 20px 0px;
  transition: all 0.4s linear;
}
.partners img:hover {
  transform: scale(1.01) translateY(-10px);
}
.partners .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  opacity: 1;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000000;
}
.partners .owl-theme .owl-dots .owl-dot.active span, .partners .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1 !important;
  background-color: #F99F1C !important;
}

.contact-us {
  width: 100%;
  padding: 50px 0px;
}

.form label {
  color: #666;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}
.form .form-control {
  border-radius: 0px;
  background-color: #fdfdfd;
  color: #000;
  font-weight: 700;
  border: 1px solid #ddd;
}
.form .form-control:hover, .form .form-control:visited, .form .form-control:focus {
  border-color: #7e496b;
}
.form textarea {
  resize: none;
  height: 160px;
}
.form .button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.form .button-content .submit-btn {
  width: 90px;
  height: 60px;
  cursor: pointer;
  background-color: #7e496b;
  border-radius: 0px;
  color: #F99F1C;
  font-weight: 700;
  font-size: 15px;
  border: 0px;
  outline: none;
  margin: auto;
}

.table tbody tr:nth-child(odd) {
  background-color: #fdfdfd;
}
.table th {
  color: #6A385C;
  font-size: 17px;
  font-weight: 700;
}
.table td {
  color: #666;
  font-size: 15px;
  font-weight: 500;
}

footer {
  width: 100%;
  padding: 20px 0px;
  background-color: #000;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
footer .content .link {
  color: #666;
  font-weight: 500;
  font-size: 15px;
}
footer .content .link span {
  color: #fff;
}
footer .content .headline {
  color: #7e496b;
  font-weight: 900;
  font-size: 15px;
  margin: 0px;
}
footer .content .copyrights {
  font-weight: 500;
  font-size: 15px;
  color: #666;
  margin: 0px;
}

/*start loader*/
/*start loader*/
.loader {
  width: 100%;
  height: 100vh;
  background-color: #7e496b;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
.loader .wrapper {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.loader .wrapper .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader .wrapper .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}
.loader .wrapper .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}
.loader .wrapper .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}
.loader.hidden {
  -webkit-animation: loaderSlideDown 1s;
          animation: loaderSlideDown 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*scroll to top btn */
.scroll-top-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #7e496b;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.scroll-top-btn:hover {
  background: #7e496b;
  border-radius: 50%;
  color: #fff;
}
.scroll-top-btn i {
  transition: all 0.1s ease;
  position: relative;
  bottom: 4px;
}

.traingin-form {
  width: 100%;
  padding: 50px 0px 70px 0px;
  position: relative;
}
.traingin-form .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.traingin-form .heading h1 {
  font-size: 50px;
  font-weight: 900;
  color: #7e496b;
}
.traingin-form .small-heading {
  width: 100%;
  margin-bottom: 20px;
}
.traingin-form .small-heading h2 {
  color: #7e496b;
  font-size: 18px;
  font-weight: 900;
  margin: 0px;
}
.traingin-form .form-contain label {
  display: block;
  margin-bottom: 10px;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
.traingin-form .form-contain .form-group {
  width: 100%;
  height: 47px;
  position: relative;
  margin-bottom: 18px;
  z-index: 9;
}
.traingin-form .form-contain .form-group.select-options::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../images/form/down_arrow.svg") center/contain no-repeat;
  top: calc(50% - 12px);
  left: 15px;
  z-index: 9;
  pointer-events: none;
  transition: all 0.3s linear;
}
.traingin-form .form-contain .form-group.select-options .form-control {
  color: var(--gray-color) !important;
}
.traingin-form .form-contain .form-group.text-area {
  height: 100px;
}
.traingin-form .form-contain .form-group.text-area img {
  top: 14px !important;
}
.traingin-form .form-contain .form-group.text-area .form-control {
  padding-top: 17px;
  border-radius: 20px !important;
}
.traingin-form .form-contain .form-group img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
  transition: all 0.3s linear;
}
.traingin-form .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  -webkit-padding-start: 49px;
          padding-inline-start: 49px;
  border-radius: 60px;
  border: 1px solid rgba(126, 73, 107, 0.06);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
}
.traingin-form .form-contain .form-group .form-control::-moz-placeholder {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
.traingin-form .form-contain .form-group .form-control:-ms-input-placeholder {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
.traingin-form .form-contain .form-group .form-control::placeholder {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
.traingin-form .form-contain .form-group .form-control:hover, .traingin-form .form-contain .form-group .form-control:focus {
  border-color: rgba(126, 73, 107, 0.5);
}
.traingin-form .form-contain .form-group:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}
.traingin-form .form-contain .form-group:hover::before {
  transform: rotate(180deg);
}
.traingin-form .form-contain .form-button {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 8px;
}
.traingin-form .form-contain .form-button .custom-btn {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 25px;
  background-color: #7e496b;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 9;
  border: 0px;
  outline: none;
}
.traingin-form .form-contain .form-button .custom-btn img {
  width: 24px !important;
  height: 24px !important;
  display: inline !important;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  transition: all 0.3s linear;
}
.traingin-form .form-contain .form-button .custom-btn span {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s linear;
}
.traingin-form .form-contain .form-button .custom-btn:hover {
  -webkit-animation: translateX 0.3s linear;
          animation: translateX 0.3s linear;
}
.traingin-form .form-contain .wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.traingin-form .form-contain .wrapper .radio-title {
  margin: 0px !important;
  width: calc(100% - 25px);
}
.traingin-form .form-contain .wrapper .radio-check {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #7e496b;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.traingin-form .form-contain .wrapper .radio-check.squre-check {
  border-radius: 4px !important;
}
.traingin-form .form-contain .wrapper .radio-check.squre-check::after {
  border-radius: 4px !important;
}
.traingin-form .form-contain .wrapper .radio-check::after {
  content: "\f00c";
  width: 100%;
  height: 100%;
  background-color: #7e496b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  transform: scale(0);
  transition: all 0.4s linear;
  top: 0;
  left: 0;
}
.traingin-form .form-contain .wrapper .radio-check:checked {
  border: 0px !important;
}
.traingin-form .form-contain .wrapper .radio-check:checked::after {
  transform: scale(1);
}
.traingin-form .form-contain .wrapper .radio-title {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.traingin-form .form-contain .wrapper:hover .radio-title {
  color: #7e496b;
}
.traingin-form .file-upload {
  width: 224px;
  height: 200px;
  position: relative;
}
.traingin-form .file-upload input[type=file] {
  display: none;
}
.traingin-form .file-upload .file-upload-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background: rgba(213, 185, 139, 0.1);
  border: 1px solid rgba(0, 93, 99, 0.1);
  border-radius: 24px;
  cursor: pointer;
}
.traingin-form .file-upload .file-upload-section img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s linear;
  position: relative;
  top: unset !important;
  left: unset !important;
  transform: translate(0px, 0px);
}
.traingin-form .file-upload .file-upload-section h2 {
  color: #909090;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0px;
}
.traingin-form .file-upload .file-upload-section p {
  color: #7e496b;
  font-size: 11px;
  font-weight: 500;
  margin: 0px;
}
.traingin-form .file-upload .file-upload-section:hover img {
  transform: translateY(-10px);
}

.modal-body .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.modal-body .contain img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.modal-body .contain h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-color);
  text-align: center;
  margin: 0px;
}

input[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type=date].form-control__date-picker {
  -webkit-padding-start: 23px !important;
          padding-inline-start: 23px !important;
}/*# sourceMappingURL=style.css.map */