@import '_global';
@import '_animations';

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    h4{
        width: fit-content;
        margin: auto;
        position: relative;
        padding-bottom: 20px;
        font-weight: 900;
        padding: 0px 20px 15px 20px;
        color: #6A385C;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #F99F1C;
        }

    }
}
/*end general properties for website*/
.navbar{
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    border-bottom: 1px solid #fff;
    transition: all .4s linear;
    &.navbar-fixed-top.scrolled{
        background-color: #6A385C;
        box-shadow: 0px 0px 10px #fff;
        border: none;
        padding: 0px;
        img{
            height: 70px;
        }
    }
    .hamburger{
        display: none;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger.active{
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }
    
    .hamburger.active .line:nth-child(2){
        width: 0px;
    }
    
    .hamburger.active .line:nth-child(1),
    .hamburger.active .line:nth-child(3){
        transition-delay: 0.3s;
    }
    
    .hamburger.active .line:nth-child(1){
        transform: translateY(6.5px);
    }
    
    .hamburger.active .line:nth-child(3){
        transform: translateY(-15px) rotate(90deg);
    }
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .brand-name{
            img{
                width: 240px;
                height: 100px;
                object-fit: contain;
            }
        }
        .navbar-nav{
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: row;
            li{
                margin: 0px 10px;
                a{
                    padding: 10px 0px;
                    color: #fff;
                    font-weight: 900;
                }
            }
        }
    }
}
header{
    .item{
        width: 100%;
        padding: 300px 0px 100px 0px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
        background-position: center center;
        z-index: 99;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .5);
            top: 0;
            left: 0;
            z-index: -1;
        }
        .content{
            text-align: center;
            transform: translateY(-10px);
            opacity: 0;
            transition: all .4s linear;
            h3{
                font-weight: 700;
                color: #fff;
                margin: 0px;
            }
            p{
                font-size: 15px;
                font-weight: 500;
                margin-top: 30px;
                color: #fff;
            }
            .cutom-bnt{
                padding: 10px 30px;
                color: #fff;
                outline: none !important;
                background-color: transparent !important;
                font-weight: 500;
                font-size: 15px;
                border: 1px solid #fff;
                display: block;
                width: fit-content;
                margin: 120px auto 0px;
                transition: all .5s linear;
                &:hover{
                    transform: translateY(-10px);
                }
            }
        }
    }
    .owl-item.active{
        .content{
            transform: translateY(0px);
            opacity: 1;
        }
    }
    .owl-carousel .owl-nav button{
        width: 40px !important;
        height: 40px;
        background-color: transparent !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: none;
        i{
            color: #fff;
            font-size: 20px;
        }
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: 0px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        right: 0px !important;
    }
    .owl-theme .owl-dots{
        width: 100%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .owl-theme .owl-dots .owl-dot span{
        width: 25px;
        height: 3px;
        opacity: .5;
        background-color: #fff;
        border-radius: 5px;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        opacity: 1 !important;
        background-color: #fff !important;
    }
}
.sub-header{
    width: 100%;
    background-size: cover !important ;
    background-repeat: no-repeat !important;
    background-position: center center;
    padding: 300px 0px;
    position: relative;
    z-index: 99;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .content{
        width: 100%;
        text-align: center;
        h4{
            color: #fff;
            font-weight: 900;
            font-size: 25px;
            line-height: 2rem;
        }
    }
}
.start-now{
    width: 100%;
    padding: 50px 0px 25px 0px;
    background-color: #6A385C;
    .content
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        h4{
            font-weight: 700;
            color: #fff;
            margin: 0px;
        }
        .cutom-bnt{
            padding: 10px 30px;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            border: 1px solid #fff;
            display: block;
            outline: none !important;
            background-color: transparent !important;
            transition: all .5s linear;
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
}
.services{
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    .box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 173px;
        position: relative;
        z-index: 99;
        transition: all .4s linear;
        &.graph{
            img{
                object-fit: contain;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        h4{
            position: absolute;
            width: 100%;
            text-align: center;
            color: #fff;
            z-index: 9;
            font-weight: 900;
            margin: 0px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .36);
            top: 0;
            left: 0;
            z-index: 0;
        }
        
        &:hover{
            transform: translateY(-10px);
        }
    }
}
.about-us{
    width: 100%;
    padding: 50px 0px;
    background-color: #6A385C;
    .heading {
        h4{
            color: #fff !important;
        }
    }
    .box{
        width: 100%;
        padding: 20px 10px;
        min-height: 188px;
        position: relative;
        display: block;
        transition: all .4s linear;
        h4{
            font-weight: 700;
            font-size: 20px;
            line-height: 2rem;
            margin-bottom: 20px;
            color: #F99F1C;
        }
        p{
            color: #fff;
            font-size: 15px;
            line-height: 2rem;
            margin-bottom: 0px;
            font-weight: 500;
        }
        &:hover{
            transform: translateY(-10px);
            background-color: #EFEFFA;
            border-radius: 10px;
            p{
                color: #000;
            }
        }
    }
}
.specialist{
    width: 100%;
    padding: 50px 0px;
    p{
        color: #676767;
        font-size: 20px;
        line-height: 3rem;
        margin: 20px 0px 0px 0px;
        text-align: center;
    }
}
.partners{
    width: 100%;
    padding: 50px 0px;
    .item{
        margin: 0px 10px;
    }
    img{
        width: 100%;
        height: 148px;
        object-fit: contain;
        border: 1px solid #707070;
        border-radius: 5px;
        margin: 20px 0px;
        transition: all .4s linear;
        &:hover{
            transform: scale(1.01) translateY(-10px);
        }
    }
    .owl-theme .owl-dots .owl-dot span{
        width: 10px;
        height: 10px;
        opacity: 1;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        opacity: 1 !important;
        background-color: #F99F1C !important;
    }
}
.contact-us{
    width: 100%;
    padding: 50px 0px;
      
}
.form{
    label{
        color: #666;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .form-control{
        border-radius: 0px;
        background-color: #fdfdfd;
        color: #000;
        font-weight: 700;
        border: 1px solid #ddd;
        &:hover , &:visited , &:focus{
            border-color: #7e496b;
        }
    }
    textarea{
        resize: none;
        height: 160px;
    }
    .button-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .submit-btn{
            width: 90px;
            height: 60px;
            cursor: pointer;
            background-color: #7e496b;
            border-radius: 0px;
            color: #F99F1C;
            font-weight: 700;
            font-size: 15px;
            border: 0px;
            outline: none;
            margin: auto;
            
        }
    }
  
} 
.table{
   tbody{
        tr{
            &:nth-child(odd){
                background-color: #fdfdfd;
            }
        }
   }
    th{
        color: #6A385C;
        font-size: 17px;
        font-weight: 700;
    }
    td{
        color: #666;
        font-size: 15px;
        font-weight: 500;
    }
}
footer{
    width: 100%;
    padding: 20px 0px;
    background-color: #000;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .link{
            color: #666;
            font-weight: 500;
            font-size: 15px;
            span{
                color: #fff;
            }
        }
        .headline{
            color: #7e496b;
            font-weight: 900;
            font-size: 15px;
            margin: 0px;
        }
        .copyrights{
            font-weight: 500;
            font-size: 15px;
            color: #666;
            margin: 0px;
        }
    }
}
/*start loader*/
/*start loader*/
.loader {
    width: 100%;
    height: 100vh;
    background-color: #7e496b;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    .wrapper {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
        .inner {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            &.one {
                left: 0%;
                top: 0%;
                animation: rotate-one 1s linear infinite;
                border-bottom: 3px solid #EFEFFA;
            }
            &.two {
                right: 0%;
                top: 0%;
                animation: rotate-two 1s linear infinite;
                border-right: 3px solid #EFEFFA;
            }
            &.three {
                right: 0%;
                bottom: 0%;
                animation: rotate-three 1s linear infinite;
                border-top: 3px solid #EFEFFA;
            }
        }
    }
    &.hidden {
        animation: loaderSlideDown 1s;
        animation-fill-mode: forwards;
    } 
}


/*scroll to top btn */
.scroll-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #7e496b;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
        background: #7e496b;
        border-radius: 50%;
        color: #fff;
    }

    i {
        transition: all 0.1s ease;
        position: relative;
        bottom: 4px;
    }
}

.traingin-form {
    width: 100%;
    padding: 50px 0px 70px 0px;
    position: relative;

    .heading {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        h1 {
            font-size: 50px;
            font-weight: 900;
            color: #7e496b;
        }
    }

    .small-heading {
        width: 100%;
        margin-bottom: 20px;

        h2 {
            color: #7e496b;
            font-size: 18px;
            font-weight: 900;
            margin: 0px;
        }
    }

    .form-contain {
        label {
            display: block;
            margin-bottom: 10px;
            color: var(--gray-color);
            font-size: 16px;
            font-weight: 500;
        }
        .form-group {
          width: 100%;
          height: 47px;
          position: relative;
          margin-bottom: 18px;
          z-index: 9;
    
          &.select-options {
            &::before {
              content: '';
              position: absolute;
              width: 24px;
              height: 24px;
              background: url('../images/form/down_arrow.svg') center / contain no-repeat;
              top: calc(50% - 12px);
              left: 15px;
              z-index: 9;
              pointer-events: none;
              transition: all .3s linear;
            }
    
            .form-control {
              color: var(--gray-color) !important;
            }
          }
    
          &.text-area {
            height: 100px;
    
            img {
              top: 14px !important;
            }
    
            .form-control {
              padding-top: 17px;
              border-radius: 20px !important;
            }
          }
    
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            position: absolute;
            top: calc(50% - 12px);
            right: 15px;
            transition: all .3s linear;
          }
    
          .form-control {
            width: 100%;
            height: 100%;
            padding-inline-start: 49px;
            border-radius: 60px;
            border: 1px solid rgba($color: #7e496b, $alpha: 0.06);
            color: var(--dark-color);
            font-size: 16px;
            font-weight: 500;
            appearance: none;
            resize: none;
    
            &::placeholder {
              color: var(--gray-color);
              font-size: 16px;
              font-weight: 500;
            }
    
            &:hover, &:focus {
              border-color: rgba($color: #7e496b, $alpha: 0.5);
            }
          }
    
          &:hover {
            img {
              animation: tada .3s linear both;
            }
    
            &::before {
              transform: rotate(180deg);
            }
          }
        }
    
        .form-button {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          margin-top: 8px;
    
          .custom-btn {
            width: 200px;
            height: 50px;
            position: relative;
            border-radius: 25px;
            background-color: #7e496b;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            transition: all .3s linear;
            overflow: hidden;
            z-index: 9;
            border: 0px;
            outline: none;
          
            img {
              width: 24px !important;
              height: 24px !important;
              display: inline !important;
              object-fit: contain;
              margin-inline-end: 8px;
              transition: all .3s linear;
            }
          
            span {
              font-size: 16px;
              font-weight: 700;
              color: #fff;
              transition: all .3s linear;
            }
          
            &:hover {
                animation: translateX .3s linear;
            }
          }
        }

        .wrapper{
            display: flex;
            align-items: center;
            align-content: center;
            cursor: pointer;
        
            .radio-title {
              margin: 0px !important;
              width: calc(100% - 25px);
            }
        
            .radio-check{
              appearance: none;
              -webkit-appearance: none;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid #7e496b;
              background-color: #fff;
              cursor: pointer;
              position: relative;
              overflow: hidden;
              margin-inline-end: 10px;
        
              &.squre-check {
                border-radius: 4px !important;
        
                &::after {
                  border-radius: 4px !important;
                }
              }
        
              &::after{
                content: '\f00c';
                width: 100%;
                height: 100%;
                background-color: #7e496b;
                border-radius: 50%;
                color: #fff;
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 12px;
                transform: scale(0);
                transition: all .4s linear;
                top: 0;
                left: 0;
              }
        
              &:checked{
                border: 0px !important;
        
                &::after{
                  transform: scale(1);
                }
              }
            }
        
            .radio-title{
              color: #000;
              font-size: 14px;
              font-weight: 500;
              cursor: pointer;
            }
        
            &:hover {
              .radio-title {
                color: #7e496b;
              }
            }
          }
    }

    .file-upload {
        width: 224px;
        height: 200px;
        position: relative;
    
        input[type="file"] {
          display: none;
        }
    
        .file-upload-section {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
          background: rgba(213, 185, 139, 0.1);
          border: 1px solid rgba(0, 93, 99, 0.1);
          border-radius: 24px;
          cursor: pointer;
    
          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            transition: all .3s linear;
            position: relative;
            top: unset !important;
            left: unset !important;
            transform: translate(0px, 0px);
          }
    
          h2 {
            color: #909090;
            font-size: 16px;
            font-weight: 500;
            margin: 15px 0px;
          }
    
          p {
            color: #7e496b;
            font-size: 11px;
            font-weight: 500;
            margin: 0px;
          }
    
          &:hover img {
            transform: translateY(-10px);
          }
        }
      }
}

.modal-body {
    .contain {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 20px;
            font-weight: 700;
            color: var(--dark-color);
            text-align: center;
            margin: 0px;
        }
    }
}


input[type="date"] {
    appearance: none;
  
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  
    &.form-control__date-picker {
      padding-inline-start: 23px !important;
    }
}

